@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.alarm-dot {
  position: absolute;
  top: -9px;
  right: -15px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alarm-dot--border {
  background: #FFFFFF;
  border: 1px solid #F5CB44;
}
.alarm-dot--yellow {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%), #F5CB44;
}
.alarm-dot--blur {
  text-shadow: 0 1px 1px #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), inset 0 2px 4px #FFFFFF;
}
.alarm-dot--coral {
  background: #F18B71;
}
.alarm-dot--large {
  width: 32px;
  height: 32px;
  padding-top: 3px;
}
.alarm-dot--medium {
  width: 24px;
  height: 24px;
  padding-top: 2px;
}
.alarm-dot--small {
  width: 12px;
  height: 12px;
}

.submenu {
  padding: 8px;
  width: 116px;
  background-color: #DADADA;
  overflow-y: auto;
}
.submenu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.submenu--mobile {
  background: linear-gradient(180deg, rgba(116, 116, 116, 0.2) 0%, rgba(81, 81, 79, 0.170632) 4.17%, rgba(0, 0, 0, 0.00176901) 14.06%, rgba(0, 0, 0, 0) 79.53%, rgba(155, 155, 155, 0.2) 98.32%), #F2F2F1;
  box-shadow: inset -5px 0px 19px rgba(0, 0, 0, 0.25);
  height: 100vh;
  padding: 33px 8px;
}
.submenu--fixed {
  position: fixed;
  top: 64px;
  left: 0;
  height: calc(100vh - 64px);
}
.submenu__item {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submenu__pic {
  position: relative;
}
.submenu__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-top: 3px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1169px) {
  .submenu--desktop {
    display: none;
  }
}
.mobile-plate {
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  right: -10px;
  transition: 200ms;
}
.mobile-plate.open {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.mobile-plate__content {
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.mobile-plate__line {
  display: flex;
  justify-content: space-between;
  height: 64px;
}
.mobile-plate__line--border-bottom {
  border-bottom: 1px solid #C4C4C4;
}
.mobile-plate__body {
  flex: 1;
}
.mobile-plate__footer {
  height: 64px;
  display: flex;
}
.mobile-plate__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: 20px;
  height: 64px;
  display: flex;
  align-items: center;
  width: 207px;
}
.mobile-plate__container-button {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1170px) {
  .mobile-plate {
    display: none;
  }
}
.button-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 64px;
  height: 64px;
  transition: 200ms;
  cursor: pointer;
}
.button-icon:active, .button-icon--active {
  background-color: #F2F2F1;
}
.button-icon--logo {
  background-image: url("../img/logo--mobile.svg");
  background-size: 68px 40px;
}
.button-icon--cabinet {
  background-image: url("../img/ic__user.svg");
}
.button-icon--navigation {
  background-image: url("../img/ic__menu.svg");
}
.button-icon--close {
  background-image: url("../img/ic__close.svg");
}
.button-icon--close:hover {
  background-color: #F2F2F1;
}
.button-icon--plus {
  background-image: url("../img/ic__plus-circle.svg");
}
.button-icon--dollar {
  background-image: url("../img/ic__dollar-circle.svg");
}
.button-icon--lang {
  background-size: 24px 20px;
}
.button-icon--lang:hover {
  background-color: #F2F2F1;
}
.button-icon--ru {
  background-image: url("../img/ic__flag--ru.svg");
}
.button-icon--eng {
  background-image: url("../img/ic__flag--eng.svg");
}
.button-icon--es {
  background-image: url("../img/ic__flag--es.svg");
}
.button-icon--small {
  width: 20px;
  height: 20px;
  background-size: 20px;
}
.button-icon--medium {
  width: 44px;
  height: 40px;
}
.button-icon--margin {
  margin-right: 9px;
}

@media screen and (min-width: 1170px) {
  .button-icon--mobile {
    display: none;
  }
}
.button-text {
  padding: 4px 9px 2px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.button-text--border {
  border: 1px solid #F36769;
  border-radius: 5px;
}
.button-text--margin-right {
  margin-right: 8px;
}

.arrow-drop {
  width: 16px;
  height: 16px;
  background: no-repeat center/16px;
}
.arrow-drop--down {
  background-image: url("../img/ic__arrow-down.svg");
}

.dropdown {
  position: absolute;
  top: 54px;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
}
.dropdown:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(-90deg, #F9B057 0.32%, #F36769 23.99%, #F36799 45.71%, #9A43F1 70.46%, #202FB0 96.09%);
  filter: blur(3px);
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 7px;
  left: 0;
}
.dropdown--user-panel {
  width: 247px;
}
.dropdown--balance-panel {
  width: 247px;
}
.dropdown--lang-panel {
  width: 53px;
  right: 0;
  left: auto;
}
.dropdown.open {
  top: 64px;
  opacity: 1;
  visibility: visible;
}
.dropdown__inner {
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}
.dropdown__user-panel {
  padding: 27px 20px 8px;
}
.dropdown__balance-panel {
  padding: 9px 15px 10px;
}
.dropdown__lang-panel {
  padding: 5px 4px 8px;
  display: flex;
  flex-direction: column;
}
.dropdown__link {
  padding: 10px 0;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #C4C4C4;
  transition: 200ms;
}
.dropdown__link:hover {
  background: #F8F8F8;
  padding-left: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Gilroy, sans-serif;
  background: linear-gradient(180deg, rgba(116, 116, 116, 0.2) 0%, rgba(81, 81, 79, 0.170632) 4.17%, rgba(0, 0, 0, 0.00176901) 14.06%, rgba(0, 0, 0, 0) 79.53%, rgba(155, 155, 155, 0.2) 98.32%), #F2F2F1;
}

.hidden {
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.text-cut__inner {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
  padding: 3px 16px 0;
  height: 67px;
}

.list--border {
  border-bottom: 1px solid #C4C4C4;
}
.list--padding {
  padding: 0 16px;
}
.list__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  padding: 8px 0;
  border-bottom: 1px solid #C4C4C4;
  list-style: none;
}
.list__item:first-child {
  padding-top: 0;
}
.list__item:last-child {
  border-bottom: 0;
}
.list__label {
  line-height: 16px;
  margin-bottom: 8px;
}

.menu {
  display: flex;
}
.menu__item {
  height: 64px;
  padding: 7px 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;
  transition: 200ms;
}
.menu__item--logo {
  width: 116px;
  background: url("../img/logo.svg") no-repeat center/52px 40px;
}
.menu__item:before, .menu__item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 4px;
  background: #fff;
}
.menu__item:before {
  left: 0;
  transition: width 0s ease, background 0.5s ease;
}
.menu__item:after {
  right: 0;
  transition: width 0.5s ease;
}
.menu__item--active:before, .menu__item:hover:before {
  width: 100%;
  background: #F36769;
  transition: width 0.2s ease;
}
.menu__item--active:after, .menu__item:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.menu__item--active, .menu__item:active {
  background-color: #F2F2F1;
}

@media screen and (max-width: 1169px) {
  .menu {
    display: none;
  }
}
.currencies {
  margin: 0 12px 0 auto;
  padding-top: 3px;
}
.currencies--desktop {
  display: none;
}
.currencies__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: #000000;
}

@media screen and (min-width: 1170px) {
  .currencies--desktop {
    display: block;
  }
}
.user {
  width: 291px;
  background-color: #F8F8F8;
  display: grid;
  grid-template-columns: 1fr 44px;
}
.user__headline {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 1px 8px 0 21px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.6);
  cursor: pointer;
}
.user__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 29px;
  padding: 0 8px 0 17px;
  cursor: pointer;
}
.user__thumbnail {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 5px;
}
.user__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 10px;
  width: 169px;
  display: flex;
}
.user__balance {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}
.user__footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(196, 196, 196, 0.6);
  padding: 3px 0 0 5px;
  cursor: pointer;
}

@media screen and (max-width: 1169px) {
  .user {
    display: none;
  }
  .header__panel {
    display: none;
  }
}
.button-container {
  display: flex;
  align-items: center;
}

.lang {
  background: no-repeat center/24px 20px;
}
.lang--current {
  width: 24px;
  height: 20px;
  margin-bottom: 10px;
}
.lang--eng {
  background-image: url("../img/ic__flag--eng.svg");
}

.user-panel__img {
  width: 207px;
  height: 64px;
  object-fit: contain;
  object-position: center;
}

.user-panel__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin: 10px 0;
}

.balance-panel__button-container {
  margin: 10px 0;
}

.balance-panel__total {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.frame {
  padding-top: 64px;
}

@media screen and (min-width: 1170px) {
  .frame {
    padding-left: 116px;
  }
}
/*# sourceMappingURL=maps/main.css.map */
