// mobile-plate - мобильное меню-шторка
// для главного меню и для меню пользователя
// свёрстана гибко, поэтому может использоваться как с сабменю,
// так и без него
.mobile-plate{
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  right: -10px;
  transition: 200ms;
  // модификаторы
  &.open{
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  // элементы
  &__content{
    background-color: #fff;
    flex: 1;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__line{
    display: flex;
    justify-content: space-between;
    height: 64px;
    &--border-bottom{
      border-bottom: 1px solid #C4C4C4;
    }
  }
  &__body{
    flex: 1;
  }
  &__footer{
    height: 64px;
    display: flex;
  }
  &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 20px;
    height: 64px;
    display: flex;
    align-items: center;
    width: 207px;
  }

  &__container-button{
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1170px){
  .mobile-plate{
    display: none;
  }
}
// end
