// .submenu - дополнительное меню, которое используется,
// как в десктопе, так и в мобильной версии
.submenu{
  padding: 8px;
  width: 116px;
  background-color: #DADADA;
  overflow-y: auto;
  // модификаторы
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &--mobile{
    background: linear-gradient(180deg, rgba(116, 116, 116, 0.2) 0%, rgba(81, 81, 79, 0.170632) 4.17%, rgba(0, 0, 0, 0.00176901) 14.06%, rgba(0, 0, 0, 0) 79.53%, rgba(155, 155, 155, 0.2) 98.32%), #F2F2F1;
    box-shadow: inset -5px 0px 19px rgba(0, 0, 0, 0.25);
    height: 100vh;
    padding: 33px 8px;
  }
  &--fixed{
    position: fixed;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
  }

  // элементы
  &__item{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__pic{
    position: relative;
  }
  &__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-top: 3px;
    letter-spacing: 0.03em;
  }

}

@media screen and (max-width: 1169px){
  .submenu--desktop{
    display: none;
  }
}
// end