@import "_fonts";
@import "_alarm";
@import "_submenu";
@import "_mobile-menu";
@import "_buttons";
@import "_dropdown";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Gilroy, sans-serif;
  background: linear-gradient(180deg, rgba(116, 116, 116, 0.2) 0%, rgba(81, 81, 79, 0.170632) 4.17%, rgba(0, 0, 0, 0.00176901) 14.06%, rgba(0, 0, 0, 0) 79.53%, rgba(155, 155, 155, 0.2) 98.32%), #F2F2F1;
}
.hidden{
  height: 100%;
  overflow: hidden;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

// шаблон для обрезки текста, который в конце добавляет многоточие
// у элемента .text-cut должна быть указана ширина
.text-cut{
  &__inner{
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
// end

// навигация в мобильном меню
.navigation__item{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
  padding: 3px 16px 0;
  height: 67px;
}
// end


// история баланса. используется как в десктопе,
// так и в мобильной версии
.list{
  // модификаторы
  &--border{
    border-bottom: 1px solid #C4C4C4;
  }
  &--padding{
    padding: 0 16px;
  }

  // элементы
  &__item{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    padding: 8px 0;
    border-bottom: 1px solid #C4C4C4;
    list-style: none;
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      border-bottom: 0;
    }
  }
  &__label{
    line-height: 16px;
    margin-bottom: 8px;
  }
}
// end


// верхнее десктопное меню + анимация
.menu{
  display: flex;
  &__item{
    height: 64px;
    padding: 7px 16px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;

    position: relative;
    transition: 200ms;
    &--logo{
      width: 116px;
      background: url("../img/logo.svg") no-repeat center / 52px 40px;
    }
    &:before,
    &:after{
      content: '';
      display: block;

      position: absolute;
      top: 0;
      width: 0;
      height: 4px;

      background: #fff;
    }
    &:before {
      left: 0;
      transition: width 0s ease, background .5s ease;
    }
    &:after {
      right: 0;
      transition: width .5s ease;
    }
    &--active:before,
    &:hover:before {
      width: 100%;
      background: #F36769;
      transition: width .2s ease;
    }
    &--active:after,
    &:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
    }
    &--active,
    &:active{
      background-color: #F2F2F1;;
    }
  }
}
@media screen and (max-width: 1169px){
  .menu{
    display: none;
  }
}
// end

// курс валют
.currencies{
  margin: 0 12px 0 auto;
  padding-top: 3px;
  // модификаторы
  &--desktop{
    display: none;
  }

  //элементы
  &__item{
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-align: right;
    color: #000000;
  }
}

@media screen and (min-width: 1170px){
  .currencies--desktop{
    display: block;
  }
}
// end

// панель кабинета
.user{
  width: 291px;
  background-color: #F8F8F8;
  display: grid;
  grid-template-columns: 1fr 44px;
  &__headline{
    display: flex;
    align-items: center;
    height: 34px;
    padding: 1px 8px 0 21px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.6);

    cursor: pointer;
  }
  &__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 29px;
    padding: 0 8px 0 17px;

    cursor: pointer;
  }
  &__thumbnail{
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-right: 5px;
  }
  &__name{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 10px;
    width: 169px;
    display: flex;
  }
  &__balance{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
  }
  &__footer{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-left: 1px solid rgba(196, 196, 196, 0.6);
    padding: 3px 0 0 5px;

    cursor: pointer;
  }
}

@media screen and (max-width: 1169px){
  .user{
    display: none;
  }
  .header__panel{
    display: none;
  }
}


.button-container{
  display: flex;
  align-items: center;
}

// языковая панель
.lang{
  background: no-repeat center / 24px 20px;
  &--current{
    width: 24px;
    height: 20px;
    margin-bottom: 10px;
  }
  &--eng{
    background-image: url("../img/ic__flag--eng.svg");
  }
}
// end



.user-panel__img{
  width: 207px;
  height: 64px;
  object-fit: contain;
  object-position: center;
}

.user-panel__title{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin: 10px 0;
}

.balance-panel__button-container{
  margin: 10px 0;
}

.balance-panel__total{
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #000000;
}

.frame{
  padding-top: 64px;
}
@media screen and (min-width: 1170px){
  .frame{
    padding-left: 116px;
  }
}