color-secondary--theme-light = #B0B5BD
color-secondary--theme-dark = #0C0D0D

color-secondary-500--theme-light = #F8F8F8
color-secondary-500--theme-dark = #424242

color-text-100--theme-light = #F8F8F8
color-text-100--theme-dark = #1E1D1D

color-text-200--theme-light = #DFDADA
color-text-200--theme-dark = #585050

color-text-300--theme-light = #887C7C
color-text-300--theme-dark = #887C7C

color-text-500--theme-light = #585050
color-text-500--theme-dark = #DFDADA

color-text-800--theme-light = #0B0A0A
color-text-800--theme-dark = #F3F3F3

color-primary-100--theme-light = #AAC9F1
color-primary-100--theme-dark = #F0F6FF

color-primary-500--theme-light = #2A75DB
color-primary-500--theme-dark = #B9D5FC

color-primary-700--theme-light = #205EB0
color-primary-700--theme-dark = #AAC9F1
